
# Access tokens and Credentials

# Claude Code
global/home/bagfen/dot-claude/*
!global/home/bagfen/dot-claude/settings.json

# Gemini CLI
global/home/bagfen/dot-gemini/*
!global/home/bagfen/dot-gemini/settings.json
